html{height:100%;background-color:transparent;}
body{font-size:60%;font-family:Arial,Verdana,Helvetica,sans-serif;color:#666;background:#fff url("http://static.tumblr.com/gpln05e/OHakg8i65/bg.png") repeat-y 0 0;height:100%;overflow:visible;}
body.mac{font-size:60%;font-family:Arial,Verdana,Helvetica,sans-serif;color:#666;background:#fff url("http://static.tumblr.com/gpln05e/OHakg8i65/bg.png") repeat-y 0 0;height:100%;overflow:visible;}

#sidebar{position:fixed; z-index:100; margin: 30px 0 0 30px;width:220px;padding:20px 0px 60px 20px;}
#sidebar h1,.text h1,.link h1,.chat h1,.quote blockquote.wczz{font-family:Arial,Verdana,Helvetica,sans-serif;}
#sidebar h1{font-weight:normal;font-size:4em;line-height:0.9;margin-bottom:0.25em;}
#sidebar h1 a{color:#000;text-decoration:none;font-family:"Big Caslon","Adobe Caslon Pro","Hoefler Text",Constantia,"Adobe Garamond Pro","Garamond",Centaur,"Goudy Old Style","Gill Sans","Gill Sans MT",Georgia,"Times New Roman",Times,serif;}
#sidebar h3{font-weight:normal;font-size:1.3em;line-height:1.3;color:#000;text-transform:uppercase;letter-spacing:0.125em;margin:0 0 0.5em;}
#sidebar p{font-weight:normal;font-size:1.3em;line-height:1.3;color:#000;margin-bottom:1em;}
#sidebar p a:link,#sidebar p a:visited{color:#000;text-decoration:none;border-bottom:1px dotted #000;}
#sidebar p a:hover,#sidebar p a:active{border-bottom:1px solid #000;}
#sidebar p em{font-style:italic;}
#sidebar .bar{margin-bottom:15px;}
#sidebar .buttons{overflow:hidden;margin-bottom:0.5em;}
#sidebar .button{display:block;float:left;width:15px;height:15px;margin-right:5px;text-indent:-999em;overflow:hidden;background:url("http://static.tumblr.com/gpln05e/AvMkz62nd/icons.png") no-repeat 0 0;border-bottom:none !important;}
#sidebar .mobile{background-position:-15px 0;}
#sidebar .archive{background-position:-30px 0;}
#sidebar .search{background-position:-45px 0;}
#sidebar .ask{background-position:-90px 0;}
#sidebar .submit{background-position:-105px 0;}

#search{display:none;clear:left;padding:2px 0;}
#searchfield{width:125px;}
#searchfield,#searchgo{vertical-align:middle;}
#buttontext{min-height:18px;line-height:1.4;}
#avatars{background-color:#FFF;height:82px;overflow:hidden;}
#avatars a,#social a{display:block;float:left;background-color:#000;border-right:1px solid #FFF;border-bottom:1px solid #FFF;overflow:hidden;}
#showavatars{display:block;width:15px;height:15px;background:url("http://static.tumblr.com/gpln05e/AvMkz62nd/icons.png") no-repeat -60px 0;text-indent:-999em;overflow:hidden;margin-left:148px;}
#showavatars.hide{background-position:-75px 0;}

#social{overflow:hidden;}
#social a{position:relative;width:16px;height:16px;background:url("http://git.sablog.me/images/icons.png") no-repeat 0 0;text-indent:-999em;}
#social .hit{position:absolute;width:40px;height:40px;top:0;left:0;background-color:#000;}
#social .email{background-position:0 0;}
#social .facebook{background-position:-16px 0;}
#social .google{background-position:-32px 0;}
#social .lastfm{background-position:-48px 0;}
#social .linkedin{background-position:-64px 0;}
#social .picasa{background-position:-80px 0;}
#social .rss{background-position:-96px 0;}
#social .twitter{background-position:-112px 0;}
#social .launchpad{background-position:-128px 0;}
#social .github{background-position:-144px 0;}

.tag_cloud {padding-top:20px;}
.tag_cloud a {color:#666;text-decoration:none;}
.tag_cloud a:hover {border-bottom: 1px dotted #666;}
#tag_cloud #tag_list {list-style:none;}
#tag_cloud #tag_list li {display:inline;}

#credit{font-size:1.2em;line-height:1.5;position:fixed;left:25px;bottom:15px;z-index:200;color:#aaa;padding:5px;background-color:#fff;}
#credit a{color:#aaa;text-decoration:none;}
#credit em{font-style:italic;}
#credit a:hover em{color:#418546;border-bottom:1px dotted #418546;}
#credit strong{font-weight:bold;color:#444;}
#credit a:hover strong{border-bottom:1px dotted #444;}

#header{display:none;width:600px;height:6.8em;background:#FFF url("http://static.tumblr.com/gpln05e/FMykg8i8e/header-bg.png") repeat-x 0 0;margin:0 0 3.5em -40px;}
#header h2{padding:1.15em 0 0 40px;font-size:2em;font-weight:bold;line-height:1.4;text-transform:uppercase;letter-spacing:0.1em;color:#000;}
#header a{color:#418546;text-decoration:none;}
#header a:hover{text-decoration:underline;}

/* Posts */
#posts{padding:30px 0 5px;}
.post{position:relative; padding-left:380px;width:560px;margin-bottom:3em;}
.postbody h1 a {text-decoration:none; color:#000;}
.postbody p,.postbody li,.postbody dl,.postbody blockquote{font-weight:normal;font-size:12pt;line-height:1.33;margin:0.66em 0;}
.postbody blockquote *{font-size:1em;margin:0;}
.postbody .notes blockquote{font-size:1.1em;}
.postbody li{margin:0.33em 0;}
.postbody li p,.postbody dl p{font-size:1em;}
.postbody i,.postbody em,.postbody blockquote,.postbody blockquote *,#buttontext{font-style:italic;font-family:Constantia,"Adobe Garamond Pro","Garamond",Georgia,"Times New Roman",Times,serif;}
.mac .postbody i,.mac .postbody em,.mac .postbody blockquote,.mac .postbody blockquote *,.mac #buttontext{font-style:italic;font-family:"Hoefler Text",Constantia,"Adobe Garamond Pro","Garamond",Georgia,"Times New Roman",Times,serif;}
.postbody b,.postbody strong{font-weight:bold;}
.postbody blockquote,.postbody ol,.postbody ul{padding:0 3em;}
.postbody abbr,.postbody acronym{border-bottom:1px dotted #aaa;cursor:help;}
.postbody ol,.postbody ul{margin:1em 0;}
.postbody ol li{list-style:decimal;}
.postbody ul li{list-style:disc;}
.postbody code{font:normal 1.3em/1.3 Consolas,"Lucida Console",Monaco,Courier,sans-serif;color:#333;}
.postbody p code,.postbody li code{font-size:0.8em;background-color:#eee;padding:0.1em 0.3em;-webkit-border-radius:3px;-moz-border-radius:3px;}
.postbody pre{background-color:#fff;padding:1em;margin:1.5em 0;overflow:auto;}
.content a,.notes .action a{text-decoration:none;border-bottom:1px dotted #666;color:#666;}
.content a:hover,.notes .action a:hover{border-bottom:1px solid #666;}
.content img { max-width: 560px; }
.content blockquote img { max-width: 150px; }
.amp{font-style:italic;font-family:"Adobe Caslon Pro",Baskerville,Georgia,serif;}
.permalink a{font-weight:normal;font-size:0.8125em;line-height:1.75;text-transform:uppercase;text-decoration:none;color:#418546;background: url("http://static.tumblr.com/gpln05e/93vkg8ica/meta-plus.png") no-repeat 100% 50%;padding:8px 20px 5px 0;margin-right:10px;}
.permalink a.notecount{background-image:url("http://static.tumblr.com/gpln05e/orikg8ibt/meta-note.png");}
.permalink a.dsq-comment-count{background-image:url("http://static.tumblr.com/gpln05e/uHBkvvbro/meta-comment.png");}
.permalink a.shorturl{background-image:url("http://static.tumblr.com/gpln05e/YX4kz641t/meta-short.png");}
.permalink a:hover span{border-bottom:1px dotted #418546;}
.datebox{position:absolute;left:280px;top:0;width:50px;padding:1em 0 0.75em;background-color:#000;font-family:"Adobe Caslon Pro",Cambria,"Adobe Garamond Pro","Garamond",Georgia,"Times New Roman",Times,serif;}
.datebox .day{text-align:right;font-weight:normal;font-size:4em;line-height:0.9;color:#FFF;}
.datebox .month{text-align:right;font-weight:normal;font-size:1.7em;line-height:1;color:#fff;text-transform:uppercase;}
a,input{outline:none;}

/* Quote Post */
.quote .box{background: #ADADAD url("http://static.tumblr.com/gpln05e/Y77kvvfpk/quote-bg.png") no-repeat 15px 15px;padding:12px 15px 12px 80px;min-height:45px;}
.quote .boxwczz p,.quote .boxwczz span{margin:0;color:#fff;text-transform:uppercase;font:italic 1.8em/1.3 "Big Caslon","Adobe Caslon Pro","Hoefler Text",Constantia,"Adobe Garamond Pro","Garamond",Centaur,"Goudy Old Style","Gill Sans","Gill Sans MT",Georgia,"Times New Roman",Times,serif;}
.quote .boxwczz p span{font-size:1em;padding:0.2em 0 0.125em;}
.quote .boxwczz{width:560px;margin:0 0 1em;padding:0;}
.quote .medium p,.quote .medium span{font-size:1.5em !important;}
.quote .long p,.quote .long span{font-size:1.2em !important;}
.quote .box.medium p,.quote .box.medium span{font-size:1.8em !important;}
.quote .box.long p,.quote .box.long span{font-size:1.5em !important;}
.quote .box p{margin:0;color:#fff;font-style:italic;font-size:2.2em;line-height:1.1;}
.quote .wczzright{background:#ADADAD url("http://static.tumblr.com/gpln05e/sQakgdx40/zz-right.png") top right no-repeat;}
.quote .wczzright span{background:#ADADAD url("http://static.tumblr.com/gpln05e/63Jkgdx1h/zz-left.png") bottom left no-repeat;}
.quote .wczzleft{background:#ADADAD url("http://static.tumblr.com/gpln05e/63Jkgdx1h/zz-left.png") bottom left no-repeat;}
.quote .wczzleft span{background:#ADADAD url("http://static.tumblr.com/gpln05e/sQakgdx40/zz-right.png") top right no-repeat;}

/* Photo/Photoset Post */
.photo .frame{background:url("http://static.tumblr.com/gpln05e/tXhkg8idb/photo-bg.jpg") no-repeat 0 50%;margin-bottom:1em;width:560px;}
.short .frame{background:url("http://static.tumblr.com/gpln05e/lGukg8idv/photo-short.jpg") no-repeat 0 50%;}
.photo .frame a,.photo .frame .wrapper{display:block;padding-bottom:85px;background:url("http://static.tumblr.com/gpln05e/A3Kkg8ics/photo-base.jpg") no-repeat 0 100%;width:560px;}
.photo .frame .single_image,.photo .frame .contains_photoset{margin:0 auto;display:block;padding:80px 80px 0;background:url("http://static.tumblr.com/gpln05e/3OBkg8iee/photo-top.jpg") no-repeat 0 0;}
.photo .frame .html_photoset { width: 400px; }
.photo .frame .html_photoset p { margin: 0; }

/* Video Post */
.video .frame{background:url("http://static.tumblr.com/gpln05e/Hobkg8ifz/video-bg.jpg") no-repeat 0 100%;margin-bottom:1em;width:560px;padding-bottom:84px;}
.video .player{background:url("http://static.tumblr.com/gpln05e/b1ykg8igl/video-top.jpg") no-repeat 0 0;padding:31px 0 0 29px;}

/* Text Post */
.text h1{margin:0 0 0.5em;font-weight:normal;font-size:4.5em;line-height:0.9;color:#000;}
.text .content > p:first-child:first-letter{display:block;float:left;width:65px;height:70px;margin:0.1em 5px 5px 0;padding-left:5px;background:#ADADAD url("http://static.tumblr.com/gpln05e/Ifxkg8i6w/dropcap.png") no-repeat 50% 50%;text-align:center;text-transform:uppercase;line-height:1.7;color:#fff;font-size:3em;overflow:visible;}
.text .fixcap:first-letter{padding:16px 18px 20px 23px !important;}

/* Link Post */
.link h1{margin:0 0 0.5em;font-weight:normal;font-size:6em;line-height:0.85;background:#418546 url("http://static.tumblr.com/gpln05e/yXskg8ibb/link-bg.png") repeat-y 100% 50%;padding-right:40px;}
.link h1 a{text-decoration:none;color:#000;}

/* Audio Post */
.audio .artwork{width:244px;height:215px;margin:0 0 5px -2px;position:relative;}
.audio .artwork img{margin:2px 0 0 2px;}
.audio .overlay{position:absolute;z-index:10;top:0;left:0;width:244px;height:215px;background:url("http://static.tumblr.com/gpln05e/9tIkvvf11/album-overlay.png") no-repeat 0 0;}
.audio .player{background:#418546 url("http://static.tumblr.com/gpln05e/LOlkg8i52/audio-bg.png") repeat-x 0 0;}
.audio .playdata{overflow:hidden;margin-bottom:2em;}
.audio .playdata span,.audio .playdata a{display:block;float:left;padding:0.33em 0.66em 0.2em 25px;font-size:1.3em;line-height:1.9;text-transform:uppercase;color:#000;}
.audio .playdata span{background: url("http://static.tumblr.com/gpln05e/fVFkg8i97/icon-plays.png") no-repeat 8px 40%;}
.audio .playdata a{background:#fff url("http://static.tumblr.com/gpln05e/8Tfkg8i8u/icon-get.png") no-repeat 8px 40%;text-decoration:none;padding-left:21px;}
.audio .playdata a:hover{background-color:#418546;background-position:-112px 40%;color:#fff;}

/* Chat Post */
.chat h1{margin:0.5em 0;font-weight:normal;font-size:3.75em;line-height:0.9;color:#000;}
.chat .user_1{background-color:#E9E9E9;}
.chat .user_2{background-color:#DADADA;}
.chat .user_3{background-color:#E7E7E7;}
.chat .user_4{background-color:#D1E4B9;}
.chat dl{margin:0 0 0.75em;}
.chat dt{background-image:url("http://static.tumblr.com/gpln05e/2xxkg8i6j/chat-bg.png");background-repeat:repeat;background-position:0 0;overflow:hidden;}
.chat dt em{display:block;float:left;background-color:#000;padding:0.25em 0.6em 0.1em;color:#fff;text-transform:uppercase;font-size:0.8125em;font-style:normal;line-height:1.8;}
.chat dd{padding:0.5em 0.75em;color:#333;}

/* Notes */
.postbody .notes{margin:3em 0 1.5em;border-top:1px solid #333;padding:0;}
.postbody .notes li{list-style:none;border-bottom:1px solid #333;padding:0.5em 0 0.5em 1em;margin:0;font-size:1.3em;line-height:1.5;}
{block:IfTumblrUsername}
.postbody .notes .tumblelog_{text:Tumblr username}{background-color:#FFF;}
.postbody .notes .tumblelog_{text:Tumblr username} a:hover{background-color:#fff;}
{/block:IfTumblrUsername}
.postbody .notes .avatar{vertical-align:-5px;border:1px solid #333;padding:1px;margin-right:10px;background-color:#fff;}
.postbody .notes blockquote{margin-top:0.5em;line-height:1.1;padding:0 0 0 30px;}
.postbody .notes blockquote a{text-decoration:none;font-style:italic;color:#666;}
.postbody .notes .action a{padding:2px 2px 0;}

/* Disqus */
.dsq-comment{font-size:1em !important;}
.dsq-comment td{font-size:1.1em !important;}
.dsq-comment-body,.dsq-authenticate p{font-size:1.3em !important;}
#disqus_thread{margin:3em 0;padding-top:3em;background:url("http://static.tumblr.com/gpln05e/e4vkg8i7x/footer-bg.png") repeat-x 0 0;}
#disqus_thread a{color:#418546;}
#disqus_thread h3{font-size:1.2em;font-weight:bold;text-transform:uppercase;color:#000;}

/* Meta */
.meta{clear:left;}
.bar{overflow:hidden;padding-bottom:25px;margin-bottom:7.5em;background:url("http://static.tumblr.com/gpln05e/WV9kg8i5j/bar.png") no-repeat 0 100%;}
.tagbar{margin:1.5em 0 -15px;min-height:24px;background-color:#eee;overflow:hidden;}
.tagbar p{margin:0;text-transform:lowercase;font-size:1.4em;line-height:1.75;}
.via{display:block;float:left;min-height:24px;background-color:#418546;}
.via-hover{background-color:#000;}
.via a{text-decoration:none;font-style:italic;font-family:Georgia,serif;color:#fff;padding-right:0.5em;}
.mac .via a{text-decoration:none;font-style:italic;font-family:"Hoefler Text",Georgia,serif;color:#fff;padding-right:0.5em;}
.via img{float:left;margin-right:0.5em;}
.tagbar{clear:left;}
.tagbar .tags{display:block;float:left;min-height:24px;}
.tags,.tags a{color:#888;}
.tags span{color:#bbb;}
.tags a{text-decoration:none;padding:0 0.5em;}
.tags a:hover{color:#418546;}

/* Footer */
#footer{width:600px;margin:-30px 0 0 340px;background:url("http://static.tumblr.com/gpln05e/e4vkg8i7x/footer-bg.png") repeat-x 0 0;}
#footer p{padding:25px 40px 15px;font-size:1.3em;color:#000;background:url("http://static.tumblr.com/gpln05e/UHEkg8i7c/esq.png") no-repeat 50% 66%;overflow:hidden;}
#footer a{padding:0.5em 0.33em 0.25em;font-weight:bold;line-height:1;text-transform:uppercase;text-decoration:none;color:#000;background-image:url("http://static.tumblr.com/gpln05e/h7Jkg8i3v/arrows.png");background-repeat:no-repeat;border:1px solid #fff;}
#footer span{padding:0.5em 0.33em 0.25em;font-weight:bold;line-height:1;text-transform:uppercase;text-decoration:none;color:#bbb;background-image:url("http://static.tumblr.com/gpln05e/fHnkga7vg/arrows-mute.png");background-repeat:no-repeat;border:1px solid #fff;}
#footer a span{padding:0;background-image:none;border:none;color:#000;}
#footer a.prev,#footer span.prev{display:block;float:left;padding-left:20px;background-position:0 50%;}
#footer a.prev span.prev{padding-left:0;}
#footer a.next,#footer span.next{display:block;float:right;padding-right:20px;background-position:100% 50%;}
#footer a.next span.next{padding-right:0;}
#footer a:hover{background-color:#fff;border:1px solid #000;}

.search_query:before { content:'“'; }
.search_query:after { content:'”'; }
